/* https://payload.cargocollective.com/1/0/10512/12261773/Toolkit_1601.jpg */
:root {
  --primary: #451C5D;
  --secondary: #670697;
  --secondary-2:#784F9D;
  --secondary-3:#9D75B1;
  --white:#FFFFFF;
  --black:#000000;
  --gray-light: #f0f2f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--gray-light);
}

.lbl-primary {
  color:var(--primary);
  font-size: .85rem;
  font-weight: 600;
  margin: .85rem 0;
}

/* Bootstrap */
.btn-primary {
  background: var(--primary);
  border: solid var(--primary);
}
.btn-primary:hover {
  background: var(--secondary-2);
  border: solid var(--secondary-2);
}
.alert-primary {
  border-color: var(--white);
  background: var(--secondary-3);
  color:var(--white);
  padding: 1rem 3.5rem;
}
.bg-primary {
  background: var(--secondary-2) !important;
  color:var(--white);
  margin: auto .25rem;
}